$title-font-size: 16px;
.event {
  border: 2px solid rgb(237, 225, 225);
  border-radius: 2px;
  margin: 8px;
  padding: 8px;
  width: 100%;
  max-width: 600px;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &_title {
    font-size: $title-font-size;
    font-weight: bold;
    margin-bottom: 4px;
  }
  &_description {
    margin-bottom: 8px;
  }
  &_speaker {
    display: grid;
    gap: 8px;
    grid-template-columns: 140px auto;
    align-items: center;
    &_name {
      text-align: left;
      font-size: $title-font-size;
      a {
        color: rgb(7, 192, 192);
      }
    }
  }
}
